body {
    padding-top: 1em;
    padding-bottom: 2em;
}

h1 {
    color:lightsalmon;
    font-size: x-large;
}

h1.title {
    margin-top: 6em;
    margin-bottom: -0.1em;
}

h1.post-title {
    margin-top: 1em;
    margin-bottom: -1.5em;
}

h1.post-date {
    color: #dadada;
    text-align: right;
    font-size: large;
}

h2.subtitle {
    margin-top: 3em;
    font-size: large;
    color: lightsalmon;
    margin-bottom: -0.1em;
    text-decoration: underline lightblue;
}

div{
    min-width: 45em;
    width: 42%;
    text-align: left;
}

hr {
    color: lightblue
}

p.text {
    margin-top: 1.5em;
    margin-bottom: 4em;
    font-size: large;
}

p.text-packed {
    margin-top: 1.5em;
    font-size: large;
}

p.codebox {
    line-height: 1.5em;
    font-size: large;
    color:lightgreen;
    padding: 1em;
    border: 1px solid lightblue;
    margin-top: -2.5em;
}

ul {
	margin-top: -1.5em;
	font-size: large;
}
