body {
  background-color: #3d3d3d;
  color: #dadada;
  font-family: DejaVu Sans Mono, monospace;
  padding-top: 0.1em;
}

@font-face 
{ 
font-family: "DejaVu Sans Mono";  
src: url("../fonts/DejaVuSansMono.ttf") format("truetype"); 
}

pre {
  color: #ea6c3a;
}

a {
  color:lightblue;
}

div.box {
  border: solid 1px #737373;
  width: 44em;
  height: 18em;
  margin-bottom: 2em;
}

p.box-title {
  text-align: left;
  font-size: x-large;
  margin: 1em;
  margin-bottom: -1.5em;
  color: lightsalmon;
}

p.overview {
  text-align: left;
  font-size: large;
  margin: 1.5em;
}

p.navbar {
  font-size: x-large;
  margin-bottom: 3em;
}

h1.box-date {
  margin-bottom: -0.5em;
  margin-top: 0.5em;
  text-align: right;
  font-size: large;
  margin-right: 1.5em;
}

hr.title-sep {
  margin: 25px;
  margin-top: 18px;
  color: #737373;
}

hr.button-sep {
  color: #737373;
  margin-top: 3em;
  width: 150px;
}

hr.top-bar {
  color:lightblue;
  width:40em;
}

a.read-more {
  font-size: large;
  text-decoration: none;
}

a.navlink {
  margin-right:0.5em;
}
